.rider/
.idea/
.vs/
.vscode/
Source/CombatPsycasts/.idea
Source/CombatPsycasts/bin/*
Source/CombatPsycasts/obj/*
Source/CombatPsycasts/CombatPsycasts.sln.DotSettings.user
Source/VFECP/obj/*
Source/VFECP/bin/*